
<div data-toggle="wizard" class="form-wizard wizard-horizontal">
<!-- START wizard steps indicator-->
<ol class="row wizard-nolabels">
    <li class="col-lg-6 col-xs-12 text-center">
        <h4>VIN код</h4>
        <small class="text-muted">Автоматический поиск характеристик по коду</small>
    </li>
    <li class="col-lg-6 col-xs-12 text-center">
        <h4>Расширеные характеристики</h4>
        <small class="text-muted">Проверка и изменение параметров автомобиля</small>
    </li>
</ol>
<!-- END wizard steps indicator-->
<!-- START Wizard Step inputs -->
<div>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-1 control-label">VIN</label>
            <div class="col-sm-9">
                <input type="text" id="vinCode" class="form-control">
                <span class="help-block m-b-none">Будьте внимательны при заполнении кода. Он должен состоять из 17 символов.</span>
            </div>
            <div class="col-sm-2">
                <button type="button" id="vinSend" class="btn btn-labeled btn-danger btn-success">
                    <span class="btn-label"><i class="fa fa-times"></i></span>
                    OK
                </button>
            </div>
        </div>
    </fieldset>
</div>
<!-- END Wizard Step inputs -->
<!-- START Wizard Step inputs -->
<div class="mycar">
<h4 class="text-center">Информация об автомобиле(-ях)</h4>
<hr>
<fieldset id="settings_info">
    <!-- START row -->
    <div class="row">
        <div class="col-sm-4">
            <dl class="dl-horizontal" id="controll_make">
                <dt>Производитель</dt>
                <dd>
                    <input type="text" id="selected_make" autofocus="off" autocomplete="off" placeholder="Выбирите или укажите производителя">
                </dd>
            </dl>
        </div>
        <div class="col-sm-3">
            <dl class="dl-horizontal" id="settings_year">
                <dt>Год выпуска</dt>
                <dd class="padding"><h6 class="text-center">xxxx</h6>
                    <input type="text" value="" data-slider-min="1940" data-slider-max="2015" data-slider-step="1" data-slider-value="2014" data-slider-orientation="horizontal" class="slider slider-horizontal form-control">
                </dd>
            </dl>
        </div>
        <div class="col-sm-5">
            <dl class="dl-horizontal" id="controll_model">
                <dt>Модель</dt>
                <dd>
                    <input type="text" id="selected_models" autofocus="off" autocomplete="off" placeholder="Выбирите или укажите модель автомобиля">
                </dd>
            </dl>
        </div>
    </div>
</fieldset>
<fieldset>
<h4 class="text-center">Параметры авто</h4>
<hr>
<fieldset>
<div class="row">
    <div class="col-sm-7">
        <dl class="dl-horizontal">
            <dt><%= __('Modification') %></dt>
            <dd>
                <input type="text" id="selected_models_trim" autofocus="off" autocomplete="off" placeholder="Выбирите или укажите модификацию">
            </dd>
        </dl>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4" id="info_check">
        <blockquote class="text-danger">
            <strong><em>Если параметры не правильные, не указаны или не известны, выделите их галочками</em></strong>
        </blockquote>
    </div>
</div>
<form id="paramModelForm">
<div class="row">
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Тип Коробки Переключения Передач (КПП):" for="model_transmission_type">Тип КПП:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_transmission_type_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_transmission_type" name="model_transmission_type" placeholder="Тип КПП" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Тип кузова" for="model_body">Тип кузова:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_body_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_body" name="model_body" placeholder="Тип кузова" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Предназначен для региона" for="region">Предназначен для региона:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="region_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="region" name="region" placeholder="Предназначен для региона" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Страна производитель" for="country">Страна производитель:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="country_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="country" name="country" placeholder="Страна производитель" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Привод" for="model_drive">Привод:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_drive_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_drive" name="model_drive" placeholder="Привод" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Тип двигателя" for="model_engine_type">Тип двигателя:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_type_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_type" name="model_engine_type" placeholder="Тип двигателя" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Расположение двигателя" for="model_engine_position">Расположение двигателя:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_position_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_position" name="model_engine_position" placeholder="Расположение двигателя" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Цилиндров" for="model_engine_cyl">Цилиндров:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_cyl_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_cyl" name="model_engine_cyl" placeholder="Цилиндров" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Двигателя (куб)" for="model_engine_cc">Двигателя (куб):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_cc_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_cc" name="model_engine_cc" placeholder="Двигателя (мЛ)" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Количество клапанов на цилиндр" for="model_engine_valves_per_cyl">Количество клапанов:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_valves_per_cyl_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_valves_per_cyl" name="model_engine_valves_per_cyl" placeholder="Количество клапанов на цилиндр" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Максимальная мощность (л.с.)" for="model_engine_ci">Мощность (л.с.):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_ci_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_ci" name="model_engine_ci" placeholder="Максимальная мощность (л.с.)" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Максимальный крутящий момент двигателя" for="model_engine_torque_rpm">Крутящий момент:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_torque_rpm_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_torque_rpm" name="model_engine_torque_rpm" placeholder="Максимальный крутящий момент двигателя" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Тип топлива" for="model_engine_fuel">Тип топлива:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_engine_fuel_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_engine_fuel" name="model_engine_fuel" placeholder="Тип топлива" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Расход топлива за городом" for="model_lkm_hwy">Расход за городом:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_lkm_hwy_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_lkm_hwy" name="model_lkm_hwy" placeholder="Расход топлива за городом" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Расход топлива по городу" for="model_lkm_city">Расход по городу:</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_lkm_city_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_lkm_city" name="model_lkm_city" placeholder="Расход топлива по городу" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Объем топливного бака (л)" for="model_fuel_cap_l">Объем бака (л):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_fuel_cap_l_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_fuel_cap_l" name="model_fuel_cap_l" placeholder="Объем топливного бака (л)" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Длина (мм)" for="model_length_mm">Длина (мм):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_length_mm_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_length_mm" name="model_length_mm" placeholder="Длина (мм)" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Ширина (мм)" for="model_width_mm">Ширина (мм):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_width_mm_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_width_mm" name="model_width_mm" placeholder="Ширина (мм)" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Высота (мм)" for="model_height_mm">Высота (мм):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_height_mm_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_height_mm" name="model_height_mm" placeholder="Высота (мм)" class="form-control">
        </div>
    </div>
    <div class="col-md-3 form-group drpdwn-select">
        <label class="control-label text-center" data-toggle="tooltip" data-original-title="Вес (кг)" for="model_weight_kg">Вес (кг):</label>
        <div class="input-group m-b">
                                        <span class="input-group-addon">
                                            <label class="checkbox c-checkbox c-checkbox-rounded" data-toggle="tooltip" data-original-title="Укажите если не верно">
                                                <input id="model_weight_kg_check" type="checkbox" value="1">
                                                <span class="fa fa-check"></span></label>
                                        </span>
            <input type="text" id="model_weight_kg" name="model_weight_kg" placeholder="Вес (кг)" class="form-control">
        </div>
    </div>
</div>
</form>
</fieldset>
</fieldset>
<fieldset id="differences">
    <h4 class="text-center">Отличия</h4>
    <hr>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Моя комплектация автомобиля отличаеться из-за</label>
            <div class="col-sm-2">
                <label class="checkbox c-checkbox c-checkbox-rounded">
                    <input id="prophylaxy" type="checkbox">
                    <span class="fa fa-check"></span>Профилактики</label>
            </div>
            <div class="col-sm-2">
                <label class="checkbox c-checkbox c-checkbox-rounded">
                    <input id="wear" type="checkbox">
                    <span class="fa fa-check"></span>Износа</label>
            </div>
            <div class="col-sm-2">
                <label class="checkbox c-checkbox c-checkbox-rounded">
                    <input id="renovation" type="checkbox">
                    <span class="fa fa-check"></span>Обновление</label>
            </div>
            <div class="col-sm-2">
                <label class="checkbox c-checkbox c-checkbox-rounded">
                    <input id="accidents" type="checkbox">
                    <span class="fa fa-check"></span>Аварии</label>
            </div>
            <div class="col-sm-2">
                <label class="checkbox c-checkbox c-checkbox-rounded">
                    <input id="other" type="checkbox">
                    <span class="fa fa-check"></span>Другое</label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Отличие в данных
                <br>
                <small>(Опишите что отличаеться от комплектации)</small>
            </label>
            <div class="col-sm-10">
                <textarea data-uk-markdownarea="{mode:'split', maxsplitsize:600}">Отсутствуют</textarea>
            </div>
        </div>
    </fieldset>
    <!-- END row -->
</fieldset>
<fieldset>
    <button id="save" type="button" class="btn btn-labeled btn-success">
                           <span class="btn-label"><i class="fa fa-check"></i>
                           </span>Сохранить параметры</button>
</fieldset>
</div>
<!-- END Wizard Step inputs -->
</div>
<script>
    var kpp = <%- kpp -%>,
            model_body = <%- model_body -%>,
            region = <%- region -%>,
            country = <%- country -%>,
            model_drive = <%- model_drive -%>,
            model_engine_type = <%- model_engine_type -%>,
            model_engine_position = <%- model_engine_position -%>,
            model_engine_fuel = <%- model_engine_fuel -%>,
            usr_car_param = <%- usr_car_param -%>,
            _save = <%- _save -%>,
            postCode = "<%= _csrf %>";
</script>