<section class="main-content" id="requestMain">
    <div class="row">
        <h3>Список заявок</h3>
        <button id="addrequest" type="button" class="btn btn-labeled btn-success" data-toggle="modal" data-target="#myRequest">
            <span class="btn-label"><i class="fa fa-plus"></i></span>
            Добавить заявку
        </button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" id="requestTable">
                    <table id="requestList" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Деталь</th>
                            <th class="text-center">Автомобиль</th>
                            <th class="text-center">Вариантов</th>
                            <th class="text-center">Предложений</th>
                            <th class="text-center">Результат</th>
                            <th class="text-center">Дата</th>
                            <th style="width: 180px !important;" class="text-center">Отображать на карте</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (var num in requests) { %>
                        <tr class="text-center">
                            <td><%= requests[num].required_item %></td>
                            <td>
                                <span class="view_car" data-id="<%if(requests[num].uid_car!=null)%><%= requests[num].uid_car.id%>"><%if(requests[num].uid_car!=null)%><%= requests[num].uid_car.make_name +" "+ requests[num].uid_car.model_name %></span>
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td class="text-center">
                                <%if(requests[num].status == 0 || requests[num].status == null){%>
                                <div class="label label-warning">В поиске</div>
                                <%}if(requests[num].status == 1){%>
                                <div class="label label-info">Ожидает подтверждения</div>
                                <%}if(requests[num].status == 2){%>
                                <div class="label label-success">Проведено</div>
                                <%}if(requests[num].status == 3){%>
                                <div class="label label-danger">Отклонено</div>
                                <%}%>
                            </td>
                            <td><%= requests[num].time %></td>
                            <td class="text-center">
                                <label class="switch">
                                    <input value="<%= requests[num].id %>" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- START row-->
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">Classic Map</div>
                <div class="panel-body">
                    <iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/glavar.jgm0inn9/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZ2xhdmFyIiwiYSI6IjJJcmxGbjAifQ.4j34y5PefJlrHyj-LSYDVw'></iframe>
                </div>
            </div>

            <!-- END panel-->
        </div>
        <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">Список СТО |
                            <small>Сперва ближайшие</small>
                        </div>
                        <div class="panel-body">
                            <table id="stoList" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>Misc</td>
                                    <td>PSP browser</td>
                                    <td>PSP</td>
                                    <td>-</td>
                                    <td>2015-05-01</td>
                                </tr>
                                <tr>
                                    <td>Other browsers</td>
                                    <td>All others</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>2015-06-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
    <!-- END row-->

</section>