<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
    <!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>47Admin - Bootstrap Admin Skin</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    <!--STYLES-->
    <link type="text/css" rel="stylesheet" href="/styles/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/vendor/animo/animate+animo.css">
    <link type="text/css" rel="stylesheet" href="/vendor/csspinner/csspinner.min.css">
    <!--STYLES END-->
    <% if (typeof styles != "undefined") { %>
    <% for (i = 0; i < styles.length; i++) { %>
    <link type="text/css" rel="stylesheet" href="/<%- styles[i] %>">
    <% } %>
    <% } %>
    <link type="text/css" rel="stylesheet" href="/styles/app.css">
    <!--SCRIPTS UP-->
    <script src="/vendor/modernizr/modernizr.js" type="application/javascript"></script>
    <script src="/vendor/fastclick/fastclick.js" type="application/javascript"></script>
    <!--SCRIPTS UP END-->
</head>

<body class="aside-toggled">
<section class="wrapper">
    <%- include includes/navigation.ejs %>
    <%- include includes/aside.ejs %>
    <section>
        <%- body %>
    </section>
</section>
<% if (typeof modal != "undefined") { %>
    <%- partial(modal) %>
<% } %>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js" type="application/javascript"></script>
<script src="/vendor/jquery/jquery.min.js" type="application/javascript"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/vendor/chosen/chosen.jquery.min.js" type="application/javascript"></script>
<script src="/vendor/slider/js/bootstrap-slider.js" type="application/javascript"></script>
<script src="/vendor/filestyle/bootstrap-filestyle.min.js" type="application/javascript"></script>
<script src="/vendor/animo/animo.min.js" type="application/javascript"></script>
<script src="/vendor/sparklines/jquery.sparkline.min.js" type="application/javascript"></script>
<script src="/vendor/slimscroll/jquery.slimscroll.min.js" type="application/javascript"></script>
<script src="/vendor/validation/jquery.validate.js" type="application/javascript"></script>
<script src="/vendor/validation/additional-methods.js" type="application/javascript"></script>
<!--SCRIPTS END-->
<!-- SCRIPT CUSTOM -->
<% if (typeof scripts != "undefined") { %>
<% for (i = 0; i < scripts.length; i++) { %>
<script src="/<%- scripts[i] %>" type="application/javascript"></script>
<% } %>
<% } %>
<script src="/js/app.js" type="application/javascript"></script>
</body>
</html>